.radio-button {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    user-select: none;
  }
  
  .radio-button input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    background-color: #eee;
    border: 1px solid grey;
    border-radius: 50%;
  }
  
  
  .radio-button:hover input ~ .checkmark {
    background-color: #ccc;
    
  }
  
  .radio-button input:checked ~ .checkmark {
    background-color: #1D4ED8;
    border: 1px solid #1D4ED8;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 10px;
    left: 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
  }
  
  .radio-button input:checked ~ .checkmark:after {
    display: block;
  }
  
  .radio-button .checkmark:after {
    top: 3px;
    left: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
  }

  .movie-card {
    transition: transform 0.3s ease-in-out;
  }
  
  .movie-card:hover {
    transform: scale(1.01) translate(-5px, -5px);
  }

  .glowing-button {
    transition: all 0.3s ease-in-out, box-shadow 2s ease-in-out;
    opacity: 0.8;
  }
  
  .glowing-button:hover {
    opacity: 1;
    animation: glow 4s infinite;
  }
  
  @keyframes glow {
    0%, 100% {
      box-shadow: 0 0 3px #ff9800, 0 0 6px #ff9800;
    }
    50% {
      box-shadow: 0 0 5px #ff9800, 0 0 10px #ff9800;
    }
  }

  .modal {
    position: absolute;
    width: 200px;
    height: 200px;
  }
  
  .modal img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.65;
  }

